.information-container {
    line-height: 1.6;
    color: #333;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
}

.information-header {
    text-align: center;
    padding: 40px 0;
    margin-bottom: 30px;
}

.information-header h1 {
    font-size: 40px;
    color: #e55322;
    font-weight: bold;
}

.content {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.text-section,
.image-section {
    flex: 1;
    min-width: 300px;
    margin: 15px;
}

.text-section {
    padding: 20px;
    text-align: justify;
}

.image-section {
    display: flex;
    justify-content: center;
}


.image-section img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service-highlights {
    padding: 30px;
    border-radius: 10px;
    margin-top: 30px;
    align-items: center;
}



h2 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}

h3 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.service-highlights-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    flex: 1;
    min-width: 250px;
}


.service-list {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}


.team-section {
    margin-top: 30px;
}

.team-section h2 {
    text-align: center;
    font-size: 22px;
}

.team-members {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.team-member {
    background-color: white;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 250px;
}

.team-member-image {
    border-radius: 5px;
    margin-bottom: 10px;
}

.testimonial {
    font-style: italic;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .text-section,
    .image-section {
        width: 100%;
        margin: 0;
    }

    .team-members {
        flex-direction: column;
        /* Stack members vertically on small screens */
        align-items: center;
        /* Center align on small screens */
    }

    .team-member {
        max-width: 90%;
        /* Allow more width on smaller screens */
    }
}