.stepper {
  width: 50vw;
  height: fit-content;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center;
  background-color: blanchedalmond;
  backdrop-filter: blur(20px);
  border: 2px solid #3498db; /* Kẻ viền với độ dày 2px và màu xanh dương */
  border-radius: 10px; /* Bo góc viền */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Đổ bóng */
  margin-top: 200px;
  margin-left: 25vw;
}
